{% extends user.candidate|yesno:"jobsboard/layouts/candidate-base.html,jobsboard/layouts/employer-base.html" %}

{% block title %} Contact Us {% endblock title %}

{% block stylesheets %}
<style>

button[type="submit"] {
    width: 50%;
}

@media (max-width: 550px) {
    button[type="submit"] {
        width: 80%;
    }
}

.pxp-contact-us-form textarea {
    height: 250px;
}
</style>

{% endblock stylesheets %}

{% block innercontent %}

<section>
    <div class="pxp-container">

        <div class="row mt-5 justify-content-center pxp-animate-in pxp-animate-in-top">
            <div class="col-lg-8 col-xxl-6">
                <div class="pxp-contact-us-form pxp-has-animation pxp-animate">
                    <h2 class="pxp-section-h2 text-center">Contact Us</h2>
                    <p class="pxp-text-light text-center">Get in touch with us</p>

                    <form class="mt-4" method="post">

                        {% csrf_token %}

                        <label for="contact-us-subject" class="form-label">Subject</label>
                        {{ form.subject }}

                        <label for="contact-us-message" class="form-label">Message</label>
                        {{ form.message }}

                        <div class="text-center">
                            <!-- <button type="submit" class="btn rounded-pill pxp-section-cta">Send Message</button> -->
                            <button type="submit" class="btn rounded-pill 
                                {% if user.candidate %}
                                pxp-section-cta
                                {% else %}
                                pxp-secondary-cta
                                {% endif %}
                                ">Send Message</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock innercontent %}