{% extends "./jobsboard/layouts/base.html" %}
{% load static %}

{% block content %}
<section class="mt-5 pxp-no-hero">
    <div class="pxp-container">
        <h2 class="pxp-section-h2 text-center">Darn it!</h2>
        <p class="pxp-text-light text-center h4">I timed out. Give it awhile and try again later.</p>

        <div class="pxp-404-fig text-center mt-4 mt-lg-5">
            <img src="{% static 'images/408.svg' %}" alt="Request Timeout">
        </div>

        <div class="mt-4 mt-lg-5 text-center">
            <a href="{% url 'home' %}" class="btn rounded-pill pxp-section-cta">Go Home<span class="fa fa-angle-right"></span></a>
        </div>
    </div>
</section>
{% endblock content %}