{% extends "jobsboard/layouts/base.html" %}
{% load static %}

{% block title %} Logged Out {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row pt-lg-0 pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
        <div class="text-center py-4 mt-4">
            <h1>You're logged out!</h1>

            <div>
                <img src="{% static 'images/sunset.svg' %}" id="sunset" alt="sunset">
            </div>

            <p class="main-text">Click here to<a href="{% url 'login' %}"> log back in</a></p>
        </div>
    </div>
</div>

{% endblock content %}
