{% extends user.candidate|yesno:"jobsboard/layouts/candidate-base.html,jobsboard/layouts/employer-base.html" %}
{% load static %}

{% block innercontent %}
<div class="d-flex justify-content-center">
    <div class="px-4">
        <h1>Password Changed</h1>
        <p>Your password has been successfully changed and updated!</p>
        <div>
            <a href="{% url 'home' %}">Back to job search</a>
        </div>

        <img src="{% static 'images/happy-leprechaun.svg' %}" id="leprechaun" alt="happy leprechaun">
    </div>
</div>
{% endblock innercontent %}