{% extends "jobsboard/layouts/base.html" %}
{% load static %}

{% block content %}

<div class="row pt-lg-0 pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
        <h1 class="text-center">Congratulations!</h1> 
        <div class="text-center">
            <img src="{% static 'images/clover.svg' %}" id="clover" alt="clover">
        </div>

        <div class="text-center">
            <h3>You Have Successsfully Reset Your Password</h3>
        <p class="main-text">
        Please use this link to sign back in <a href="{% url 'login' %}" class="text-primary">Login</a>
        </P>
        </div>
    </div>
</div>
{% endblock content %}