{% extends "jobsboard/layouts/base.html" %}
{% load static %}


{% block content %}

<div class="row pt-lg-0 pt-5">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 mt-5 offset-md-2 pt-5 mt-5">
        
        <h1 class="text-center mt-4">Go to your email</h1>
        
        <div class="text-center mt-4">
            <img src="{% static 'images/gentleman-confirm.svg' %}" id="confirm" alt="gentleman confirm">
        </div>

        <p class="main-text">
        If the email that you provided exists, then you will receive a link to reset your password.
        Please go to your email and find that link.
        Also, don't forget to check your Spam or Promotions folders.
        </P>
    </div>
</div>

{% endblock content %}