{% include "./template.html" 
with question="How much does it cost to post an advert?" 
answer="Nothing - it's free! All you need to do is sign up as an employer for a free account and then start posting."
id=1
%}

{% include "./template.html" 
with question="Are there any restrictions to what kind of jobs I can post?" 
answer="Not really. Just needs to be an actual job and legal." 
id=2
%}

{% include "./template.html" 
with question="Does my job need to be based in China?" 
answer="No."
id=3
%}

{% include "./template.html" 
with question="Can I get my job ad pushed to the front of the queue?" 
answer="Yeah, you need to pay to get it promoted." 
id=4
%}

{% include "./template.html" 
with question="How can I submit a Wechat group to be monitored for jobs?" 
answer='Send us a <a href="/contact/">message</a> with your Wechat ID and we\'ll get back to you.'
id=5
%}

{% include "./template.html" 
with question="Does the Wechat group I want to add have to be in English?" 
answer="No but it should be job related."
id=6
%}

{% include "./template.html" 
with question="Do I need a WeChat account to post a job?" 
answer="No - just an email address."
id=7
%}

{% include "./template.html" 
with question="Do I need to be in China to post a job?" 
answer="No, anyone anywhere can post." 
id=8
%}

{% include "./template.html" 
with question="Can I pay with WeChat Pay to boost my ad?" 
answer='Yes, you can use our payment system with Stripe. If for some reason you\'d rather pay with Wechat Pay directly, then create your job and then send us a <a href="/contact/">message</a> via the contact form.'
id=9
%}

{% include "./template.html" 
with question="Can I pay with Alipay?" 
answer="Yes."
id=10
%}

{% include "./template.html" 
with question="Do I need a Chinese business license to post a job?" 
answer="No."
id=11
%}

{% include "./template.html" 
with question="I recruit just for Korea, can I still post a job?" 
answer="Yes, doesn't matter whether you recruit for Spain, Japan or anywhere else for that matter."
id=12
%}

{% include "./template.html" 
with question="What do the images mean next to the job ads?" 
answer="A red one means we have no contact information for this poster. Green with a blue shield means we have their Wechat ID. Anything else means that the employer is registered with us and you can contact them via the site."
id=13
%}

{% include "./template.html" 
with question="Why did I just see an advert that wasn't a job?" 
answer="This is due to an error in our job parser. While we try and identify most messages that are jobs as jobs, some slip through and some don't make it. We do our best to get it right most of the time. "
id=14
%}

{% include "./template.html" 
with question="Can I upload images, videos and my CV to WeChatJobs?" 
answer="Yeah, sign up and upload your media from within the Edit Media section." 
id=15
%}

{% include "./template.html" 
with question="How do I search for jobs I'm looking for?" 
answer="You have multiple options. Go to the homepage and choose whether you want to search by keyword or categories or both. We also offer some advanced options as well where you can really drill down to find what you're looking for."
id=16
%}

{% include "./template.html" 
with question="Why does this job ad not have any contact details?" 
answer="Either we don't have any contact details for this recruiter and/or they haven't registered as a recruiter. If you've already signed up, hit the “Request Wechat ID” button within the job ad to specifically request this ID and we'll do our best to get it for you. Only members can request user IDs."
id=17
%}

{% include "./template.html" 
with question="Why is it taking forever to upload my videos?" 
answer="Files are first uploaded to our web server in the US and then saved on an Amazon Web Services server in Hong Kong for retrieval later. Images and documents should be uploaded fairly quickly. If you try and upload a massive video file, then this may take some time or even fail depending on your connection.<br><br>If you try uploading huge files specifically from inside Mainland China, then you may encounter some issues. If the problem persists, then please contact us and let us know."
id=18
%}

{% include "./template.html" 
with question="Why does my profile image not look as good now I've uploaded it?" 
answer="All images are converted to a smaller web file format called webp once they get submitted. We also resize profile images and reduce them to a width of 300 pixels. This means that if you upload an image which is 3000 pixels in width, you'll notice a 90% reduction in size and thus quality. Profile images are mainly used just for displaying next to jobs, so this is usually more than big enough."
id=19
%}

{% include "./template.html" 
with question="What do you do with all the information I provide?" 
answer="We save your information on our server and then submit it to employers when you apply for jobs with them. "
id=20
%}

{% include "./template.html" 
with question="Why is this website slow in Mainland China?" 
answer="Our current server is based in the US. This may result in slower connection times for Mainland China users."
id=21
%}

{% include "./template.html" 
with question="How long do jobs remain in the database?" 
answer="We currently keep jobs on our server for six weeks and then delete them and any associated applications completely. This may change." 
id=22
%}

{% include "./template.html" 
with question="How can I suggest a new feature or report a bug?"
answer='Send us a <a href="/contact/">message</a>.'
id=23
%}

{% include "./template.html" 
with question="How many Wechat messages do you process a second?" 
answer="Usually around 1-2 per second."
id=24
%}

{% include "./template.html" 
with question="How many Wechat groups do you monitor in total?" 
answer="Over 1000."
id=25
%}

{% include "./template.html" 
with question="How can I contact you?" 
answer='Use this <a href="/contact/">contact form</a>.'
id=26
%}

{% include "./template.html" 
with question="Who made this website?" 
answer="This site was made by Nick Rogerson."
id=27
%}




{% comment %}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer="" 
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer="" 
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer="" 
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}

{% include "./template.html" 
with question="" 
answer=""
id=
%}


{% endcomment %}