{% extends user.candidate|yesno:"jobsboard/layouts/candidate-base.html,jobsboard/layouts/employer-base.html" %}
{% load static %}

{% block title %} Change Password {% endblock %}
        
{% block innercontent %}
            <div class="pxp-dashboard-content-details">
                <h1>Change Password</h1>
                <p class="pxp-text-light">Choose a new account password.</p>

                <form method="post">

                    {% csrf_token %}

                    <div class="row mt-4 mt-lg-5">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-candidate-old-password" class="form-label">Old password</label>
                                <!-- <input type="password" id="pxp-candidate-old-password" class="form-control" placeholder="Enter old password"> -->
                                {{ form.old_password }}
                            </div>
                        </div>
                        <span class="text-danger">{{ form.old_password.errors }}</span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-candidate-new-password" class="form-label">New password</label>
                                <!-- <input type="password" id="pxp-candidate-new-password" class="form-control" placeholder="Enter new password"> -->
                                {{ form.new_password1 }}
                            </div>
                            <span class="text-danger">{{ form.new_password1.errors }}</span>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="pxp-candidate-new-password-repeat" class="form-label">New password repeat</label>
                                <!-- <input type="password" id="pxp-candidate-new-password-repeat" class="form-control" placeholder="Repeat new password"> -->
                                {{ form.new_password2 }}
                            </div>
                            <span class="text-danger">{{ form.new_password2.errors }}</span>
                        </div>
                    </div>

                    <div class="mt-4 mt-lg-5">
                        <button class="btn rounded-pill 
                        {% if user.candidate %}
                        pxp-section-cta
                        {% else %}
                        pxp-secondary-cta
                        {% endif %}
                        ">Save New Password</button>
                    </div>
                </form>
            </div>

{% endblock innercontent %}