{% load static %}

<footer class="pxp-main-footer mt-100">
    <div class="pxp-main-footer-top pt-50 pb-50" style="background-color: var(--pxpMainColorLight);">
        <div class="pxp-container">
            <div class="row">

                <div class="col-lg-6 col-xl-5 col-xxl-4 mb-4">
                    <div class="pxp-footer-logo">
                        <a href="/">
                            <img src="{% static  'images/wechatjobs-logo.svg' %}" id="footer-logo" alt="wechatjobs logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-7 col-xxl-8">
                    <div class="row">
                        <div class="pxp-footer-section">
                            <ul class="pxp-footer-list">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'faq' %}">FAQs</a></li>

                                {% if user.is_authenticated %}
                                <li id="logout-footer">
                                    <form method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <input id="logout-submit-footer" type="submit" value="Logout">
                                    </form>
                                </li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Sign In</a></li>
                                <li><a href="{% url 'register' %}">Sign Up</a></li>
                                {% endif %}

                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-auto d-flex flex-column flex-md-row">
                    <div class="me-2 mb-1 pxp-text-light">Written in <img alt="django logo" src="{% static 'images/dj-logo.svg' %}"> and <img alt="python logo" src="{% static 'images/python-logo.svg' %}"> by Nick Rogerson.</div>
                    {% now "Y" as current_year %}
                    <div class="pxp-footer-copyright pxp-text-light">© {{ current_year }} WeChatJobs. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
