{% extends "jobsboard/layouts/employer-base.html" %}
{% load static %}

{% block title %} Payment Cancelled {% endblock %}


{% block stylesheets %}
<style>
#monkey{
    display: block;
    margin: auto;
}

@media (max-width: 1100px){
    #monkey{
        width: 600px;
    }
}

@media (max-width: 800px){
    #monkey{
        width: 400px;
    }
}


</style>
{% endblock stylesheets %}

{% block innercontent %}

<section>
    <div class="pxp-container">

        <div class="row mt-5 justify-content-center pxp-animate-in pxp-animate-in-top">
            <div class="col-lg-10 col-xxl-8">
                <div class="pxp-has-animation pxp-animate">
                    <h1 class="pxp-section-h2 text-center">Your payment was cancelled</h1>
                    <h5 class="pxp-text-light text-center">Please try again!</h5>
                    <img id="monkey" src="{% static 'images/sleeping-monkey.svg' %}">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock innercontent %}